<p>create-seller works!</p>
<div>
    <form (ngSubmit) ="onSubmit()">
        <div class="form-group">
            <label>Email: </label>
            <input type="text" class="form-control" id="adminEmail"
            [(ngModel)]="seller.sellerId" name="adminEmail">
        </div><br>

        <div class="form-group">
            <label>admin Username: </label>
            <input type="text" class="form-control" id="adminName"
            [(ngModel)]="seller.S_Title" name="adminName">
        </div><br>
    
    
        <div class="form-group">
            <label>password: </label>
            <input type="text" class="form-control" id="adminPassword"
            [(ngModel)]="seller.S_name" name="adminPassword">
        </div><br>
    
    
        <div class="form-group">
            <label>Email: </label>
            <input type="text" class="form-control" id="adminEmail"
            [(ngModel)]="seller.S_address" name="adminEmail">
        </div><br>

        <div class="form-group">
            <label>Email: </label>
            <input type="text" class="form-control" id="adminEmail"
            [(ngModel)]="seller.S_password" name="adminEmail">
        </div><br>   
        
        <button class="btn.btn.success" type="submit">Submit</button>
    
        
    
    </form>
    </div>
    