<p>home works!</p>
<div>
    <html>
    <head>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        
        <!-- icon link -->
        <script src="https://kit.fontawesome.com/c0eae5e040.js" crossorigin="anonymous"></script>
        
    </head>
    <thead>
    <!-- <section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-4">
                    <div class="logo">
                        <a routerLink="/create-user">
                            <img src="https://rainbowit.net/html/inbio/assets/images/logo/logo-dark.png" alt="logo">
                        </a>
                    </div>
                    
                </div>
                <div class="col-xl-6 col-4">
                    <div>
                        <a routerLink="/create-user"><button>create-user</button></a>
                        <a routerLink="/get-product"><button>product-list</button></a>
                        
                    </div>
                </div>
                <div class="col-xl-3 col-4">
                    
                </div>
            </div>
        </div>
    </div>   
    </section> -->
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#" routerLink="/register-user" style="padding-left: 20px;">
            <h5 class="pt-1">Sign</h5>
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-12" style="padding-left: 40px;">
                <li class="nav-item"  style="padding-left: 50px;">
                    <a class="nav-link" href="#" routerLink="/get-product">Product</a>
                </li>
                <li class="nav-item"  style="padding-left: 50px;">
                    <a class="nav-link" href="#" routerLink="/create-seller">Seller</a>
                </li>
                <li class="nav-item"  style="padding-left: 50px;">
                    <a class="nav-link" href="#" routerLink="/create-product">create Product</a>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Right elements -->
            <div class="d-flex align-items-center justify-content-start">
                <!-- Icon -->
                <a class="text-reset me-3" href="#">
                    <i class="fas fa-shopping-cart text-white"></i>
                </a>

                <!-- Notifications -->
                <div class="dropdown">
                    <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell text-white"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" routerLink="/login-user" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


    </thead>
    <tbody>
        <div>
            <div>
                <img src="//img3.junaroad.com/uiproducts/20135448/zoom_0-1691048122.jpg" style="width:50%;height:500px;">
            </div>
            <div></div>
        </div>

     
        <a routerLink="/create-user"><button>create-user</button></a>
        <a routerLink="/create-seller"><button>create seller</button></a>
        <a routerLink="/update-seller"><button>Update seller</button></a>
        <a routerLink="/get-seller"><button>seller list</button></a>
        <a routerLink="/create-admin"><button>create admin</button></a>
        <a routerLink="/create-product"><button>create product</button></a>
        <a routerLink="/get-product"><button>product-list</button></a>
        <a routerLink="/create-payment"><button>create payment</button></a>
        <a routerLink="/update-payment"><button>updatePayment</button></a>
        <a routerLink="/get-payment"><button>payment List</button></a>
        <a routerLink="/get-user"><button>user list</button></a>
        <!-- <a routerLink="/update-user/:userId"><button>update user</button></a> -->
        <a routerLink="/create-order"><button>Create order</button></a>
        <a routerLink="/update-order"><button>update order</button></a>
        <a routerLink="/get-order"><button>order List</button></a>
        <a routerLink="/create-category"><button>create category</button></a>
        <a routerLink="/get-category"><button>category list</button></a>
        <a routerLink="/update-category"><button>update category</button></a>
        <a routerLink="/register-user"><button>register</button></a>
        <a routerLink="/login-user"><button>login user</button></a>
        <a routerLink="/login-admin"><button>login admin</button></a>
    </tbody>

 <tfoot>

      



   </tfoot>

</html>
</div>